---
const currentDate = new Date().toISOString().replace("T", " ").slice(0, 19);
---

<main id="home">
  <section class="min-h-screen flex items-center justify-center">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div data-aos="fade-right">
          <div class="mb-4 space-y-1">
            <p class="text-sm text-gray-500 dark:text-gray-400 font-mono">
              {currentDate}
            </p>
          </div>

          <h1
            class="text-5xl font-bold mb-4 bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent"
          >
            Hola, soy <span class="block">Mauricio Sierra</span>
          </h1>
          <p class="text-xl text-gray-300 mb-6">Desarrollador Web Full Stack</p>
          <button
            class="bg-blue-500 hover:bg-blue-600 transform hover:scale-105 transition-all duration-300 px-8 py-3 rounded-full text-white"
          >
            Contáctame
          </button>
        </div>

        <!-- Imagen o ilustración -->
        <div
          data-aos="fade-left"
          class="relative flex justify-center md:justify-end"
        >
          <div
            class="w-72 h-72 bg-blue-500 rounded-full filter blur-3xl opacity-30 absolute -z-10"
          >
          </div>
          <img
            src="/foto.png"
            alt="Mi Foto"
            class="rounded-full w-64 h-64 object-cover border-4 border-blue-500 shadow-lg transform hover:scale-105 transition-all duration-300"
          />
        </div>
      </div>
    </div>
  </section>
</main>
<style>
  /* Opcional: Estilo específico para la fuente monoespaciada de la fecha y usuario */
  .font-mono {
    font-family: "Consolas", "Monaco", monospace;
  }
</style>
